body{
   margin: 0;
   padding: 0;
   display: flex;
   justify-content: center;
   align-items: center;
   min-height: 100vh;
   background:linear-gradient(to bottom ,#0f0c29,#792572,#80296d)
   
}

.main{
   display: flex;
   justify-content: center;
   height: 600px;
   width: 450px;
   background: red;
   overflow: hidden;
   background: url("1.jpg") no-repeat center / cover;
   border-radius: 20px;
   background-size: cover;
}

.form{
  
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   font-family:fantasy;
   border-radius: 40px;
   
   margin-top: 0px;
   height: 500px;
   width: 500px;
   margin-left: -50px;
}

span{
    display: flex;
    justify-content: center;
    margin-top: 40px;
    color: white;
}

.form .username{
    width: 100%;
    height: 50px;
    background: transparent;
    margin-top: 42px;
}

 .form .username input{
    background: transparent;
    width: 100%;
    height: 30px;
    color: aliceblue;
 }
 
 .form .password{
    width: 100%;
    height: 50px;
    background: transparent;
    margin-top: 20px;
}

.form .password input{
    background: transparent;
    width: 100%;
    height: 30px;
    
 }

 .username input::placeholder{
    color: white;
    font-size: 17px;
    font-family: fantasy;
 }

.password input::placeholder{
    color: white;
    font-size: 17px;
    font-family: fantasy;
 }

 hr{
    color: black;
    position: relative;
    top: 0px;

 }

 .forget{
    text-align: left;
    position: relative;
    margin-top: 20px;
    font-size: 15px;
    color: aliceblue;
    font-weight: 20px;
    cursor: pointer;
 }

.submit{
    display: flex;
    justify-content: center;
    width: 140px;
    height: 30px;
    padding-top: 7px;
    border-radius: 20px;
    border: none;
    font-size: 15px;
    text-align: center;
    color: rgb(12, 7, 0);
    margin-left: 60px;
    background-color: whitesmoke;
    position: relative;
    top: 20px;
}

.signup{
    display: flex;
    justify-content: center;
    position:relative;
    top:30px;
    font-size: 13px;
    color: aliceblue;
    margin-left: 50px;
}

.signup:hover{
    background-color: #80296d;
    cursor: pointer;
}