body{
    font-family: fantasy;
    font-weight: 5px;
}



h1{
    border: 2px;
    border-style: solid;
    border-color: black;
    width: 300px;
}
  
h2 {
    border-style: solid;
    border-width: medium;
    border-color: aquamarine;
    width: 300px;
}
  
.one p{
    border-style: dotted;
    border-width: 5px;
    border-color:bisque ;
    width: 300px;
}
  
.two p{
    border-style: groove;
    border-width: 10px;
    border-color: rgb(138, 21, 21);
    width: 600px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: antiquewhite;
    border-radius: 20px;
}

.circle{
    border: 5px inset rgb(51, 182, 182);
    height: 400px;
    width: 400px;
    border-radius: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: aqua;
}

.circle p{
    padding: 100px;
}