* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #2e4680;
    font-family: Plus Jakarta Sans;
}

.chatterly {
    display: flex;
    justify-content: space-between;
    background-color: rgb(183, 180, 199);
}

span {
    display: flex;
    justify-content: left;
    margin-left: 90px;
    position: relative;
    top: 15px;
    font-size: 20px;
    font-family: Plus Jakarta Sans;

}

.chat {
    margin-left: 169px;
    position: relative;
    top: -20px;
    color: rgb(5, 5, 75);
}

.profile {
    display: flex;
    justify-content: right;
    margin-right: 70px;
    position: relative;
    top: 0px;
    margin-top: 7px;
    margin-bottom: 4px;
}

img {
    width: 30px;
    height: 30px;
    border-radius: 30px;
    display: flex;
    justify-content: right;
}

select {
    border: none;
    background-color: rgb(183, 180, 199);
}

.main {
    display: flex;
    justify-content: space-between;
    background-color: rgb(235, 238, 243);
    height: 65px;
    box-shadow: 10px 2px 4px 2px rgba(29, 28, 28, 0.6);
}

.head {
    display: flex;
    justify-content: space-between;
}

.filter {
    color: rgb(56, 51, 51);
    position: relative;
    margin-bottom: 10px;
    font-size: 14px;
    margin-left: 100px;

}

.vertical {
    border-left: 1px solid rgb(63, 46, 46);
    height: 50px;
    margin-left: 25px;
    position: relative;
    top: 10px;
}

.dropdowns {
    display: flex;
    align-items: center;
    margin-left: 25px;
}

#by {
    color: rgb(44, 36, 36);
    font-size: 13px;
}

.by {
    color: rgb(58, 54, 54);
    font-size: 13px;
}

.all {
    color: rgb(58, 54, 54);
    background-color: rgb(183, 180, 199);
    width: 150px;
    height: 30px;
    border-radius: 20px;
}

#date {
    color: rgb(58, 54, 54);
    font-size: 13px;
}

.date {
    margin-left: 25px;
    font-size: 13px;
    color: rgb(58, 54, 54);
}

.selectdate {
    color: rgb(58, 54, 54);
    background-color: rgb(183, 180, 199);
    width: 150px;
    height: 30px;
    border-radius: 20px;
}

.search {
    position: relative;
    top: -10px;
    color: rgb(58, 54, 54);
    margin-right: 70px;
}

.text {
    font-size: 13px;
}

input {
    margin-left: 85px;
    position: relative;
    top: 15px;
    color: rgb(17, 2, 2);
    border-radius: 20px;
    border: none;
    height: 29px;
    width: 180px;
    background-color: rgb(183, 180, 199);
    outline: none;
}

.searchicon {
    position: relative;
    top: -5px;
    font-size: smaller;
    color: rgb(58, 54, 54);
    margin-left: 246px;
}

.cards {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-left: 50px;
    margin-right: 50px;
}

.card {
    height: 385px;
    width: 350px;
    background: #FFFFFF;
    margin: 0 auto;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
    flex-wrap: wrap;
}

.img1 {
    width: 300px;
    height: 200px;
    position: relative;
    top: 17px;
    left: 18px;
    gap: 0px;
    border-radius: 12.6px;
}

hr {
    position: relative;
    top: 50px;
    color: #2c2727;
}

.card1 {
    width: 310px;
    height: 50px;
    position: relative;
    top: 37px;
    left: 18px;
    gap: 0px;
    opacity: 0px;
    font-family: Plus Jakarta Sans;
    font-size: 20px;
    font-weight: 700;
    line-height: 25.2px;
    text-align: left;

}

.pic {
    width: 30px;
    height: 30px;
    border-radius: 30px;
    display: flex;
    position: relative;
    margin-left: 18px;
    top: 68px;
}

.pic-text {
    position: relative;
    top: 35px;
    margin-left: 55px;
    font-family: Plus Jakarta Sans;
    font-size: 16px;
    font-weight: 600;
    line-height: 20.16px;
    text-align: left;
}

.pic-text2 {
    position: relative;
    top: 35px;
    margin-left: 55px;
    font-family: Plus Jakarta Sans;
    font-size: 14px;
    font-weight: 400;
    line-height: 17.64px;
    text-align: left;
    color: #797979;
}

.heart {
    width: 12px;
    height: 10px;
    font-size: 16px;
    top: 18px;
    left: 70px;
    gap: 0px;
    opacity: 0px;
    color: #A5A5A5;

}

.likes {
    position: relative;
    top: 8px;
    left: 180px;
    font-size: 14px;
    font-weight: 400;
    line-height: 15.12px;
    text-align: left;
    color: #787878;
}

.comment {
    width: 15px;
    height: 13px;
    font-size: 17px;
    top: -7px;
    left: 125px;
    gap: 0px;
    opacity: 0px;
    color: #A5A5A5;
}

.comments {
    position: relative;
    top: -20px;
    left: 235px;
    font-size: 14px;
    font-weight: 400;
    line-height: 15.12px;
    text-align: left;
    color: #787878;
}

.card2 {
    width: 310px;
    height: 50px;
    position: relative;
    top: 37px;
    left: 18px;
    gap: 0px;
    opacity: 0px;
    font-family: Plus Jakarta Sans;
    font-size: 20px;
    font-weight: 700;
    line-height: 25.2px;
    text-align: left;
}

.card3 {
    width: 310px;
    height: 50px;
    position: relative;
    top: 37px;
    left: 18px;
    gap: 0px;
    opacity: 0px;
    font-family: Plus Jakarta Sans;
    font-size: 20px;
    font-weight: 700;
    line-height: 25.2px;
    text-align: left;
}