*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: fantasy;
}

body{
   display: flex;
   justify-content: center;
   align-items: center;
   min-height: 100vh;
   background: url("img.jpg") no-repeat center / cover;
   
}

.main{
   display: flex;
   justify-content: center;
   height: 100%;
   width: 100%;
   overflow: hidden;
   background-size: cover;
}

.form{
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 40px;
   background-color: rgba(199, 186, 195, 0.4);
   margin-top: 0px;
   height: 600px;
   width: 500px;
}

span{
    display: flex;
    justify-content: center;
    margin-top: 0px;
    color: white;
}

.form .username{
    width: 300px;
    height: 30px;
    background: transparent;
    margin-top: 60px;
    padding-top: 9px;
}

 .form .username input{
    background: transparent;
    width: 100%;
    height: 50px;
    border-radius: 20px;
    box-shadow: 4px 5px 9px 1px;
 }
 
 .form .password{
    width: 100%;
    height: 30px;
    background: transparent;
    margin-top: 30px;
    padding-top: 30px;
}

.form .password input{
    background: transparent;
    width: 100%;
    height: 50px;
    border-radius: 20px;
    box-shadow: 4px 5px 9px 2px;
 }

 .form i{
   display: flex;
   align-items: right;
   justify-content: right;
   margin-top: -30px;
   margin-right: 10px;
 }

 .username input::placeholder{
    color: white;
    font-size: 17px;
    font-family: fantasy;
 }

.password input::placeholder{
    color: white;
    font-size: 17px;
    font-family: fantasy;
 }

 .remember-forgot{
    text-align: left;
    position: relative;
    margin-top: 80px;
    font-size: 15px;
    color: aliceblue;
    font-weight: 20px;
    cursor: pointer;
 }

 .remember-forgot a{
   display: flex;
   margin-top: 20px;
   color: #410c35;
 }

.submit{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 140px;
    height: 40px;
    padding-top: 4px;
    border-radius: 20px;
    border: none;
    font-size: 19px;
    text-align: center;
    color:#410c35;
    background-color: whitesmoke;
    position: relative;
    top: 50px;
    margin-left: 80px;
}

.submit:hover{
   background-color:#410c35;
   color: aliceblue;
}

.signup {
    display: flex;
    justify-content: center;
    justify-content: center;
    margin-top:70px;
    font-size: 15px;
    color: aliceblue;
    margin-left: 5px;
    
}

.signup:hover{
    background-color:#410c35;
    cursor: pointer;
    width: 100%;
    border-radius: 10px;
}